//- html 
//-   head 
//-     link(href='css/style.min.css')
//-   body 
//-     include html/header
//-     main.page
//-       h1 Привет!
//-       img(src="@img/hero-1.jpg")
//-     include html/footer
//-     script(src='js/app.min.js')